{% load static %}


<div class="">
    <div class="card-header">
        <h5 class="card-title">Товар</h5>
    </div>
    <ul class="list-group">
        {% for cart in carts %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col p-0">
                        <div class="input-group">
                            <button class="decrement" type="button">
                                <svg class="" width="20px" height="20px" viewBox="0 0 448 512">
                                <path d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/>
                                </svg>
                            </button>
                
                            <input class="quantity-control__input" type="text" value="{{ cart.quantity }}" readonly/>
                
                            <button class="increment" type="button">
                                <svg class="" width="20px" height="20px" viewBox="0 0 448 512">
                                <path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="col p-0">
                        <p>x {{ cart.product.price }} = </p>
                    </div>
                    <div class="col p-0"><strong> {{ cart.product_price }} $</strong></div>
                    <div class="col p-0">
                        <a href="{% url "carts:cart_remove" cart.product.slug cart.size %}" class="remove-from-cart" data-cart-id="">
                            <img class="mx-1" src="{% static 'img/delete.svg' %}"
                                alt="Catalog Icon" width="16" height="16">
                        </a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
<div class="">
    <div class="card-footer">
        <p class="float-left">Итого <strong>{{ carts.total_quantity }}</strong> товар(а) на сумму</p>
        <h4 class="float-left"><strong>{{ carts.total_price }} $</strong></h4>
    </div>
</div>

<style>
.list_grout {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: space-between;
}
.input-group {
    display: flex;
}
</style>