.filter-button {
    background-color: transparent;
    cursor: pointer;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 15px   ;
    line-height: 20px;
    font-size: 18px;
}

.filter-button:hover {
    background-color: #36732e;
}

.hidden {
    display: none;
}

.filter-top {
    display: flex;
    gap: 20px;
    align-items: center;
}