{%extends 'base.html'%}

{%block title%}Main page{%endblock%}

{%block body%}
<h1>Main</h1>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
<li>
    gggggg
</li>
{%endblock%}