{% extends "base.html" %}
{% load static %}

{% block footer-css %}<link rel="stylesheet" href="{% static "css/my_footer_css.css" %}">{% endblock  %}

{% block modal_cart %}
{% include "includes/cart_btn.html" %}
{% endblock  %}

{% block content %}
<h1 class="mt-5 pt-5"><strong>Магазин мебели HOME</strong></h1>
{% endblock  %}

{% block footer %}
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Home Python Hub Studio 2023</p>
    </div>
</footer>
{% endblock  %}