{% extends "base.html" %}
{% load static %}


{% block top-menu__items %}
<li>
    {% include "include/write.html" %}
  </li>

  <li>
    {% include "include/explore.html" %}
  </li>
{% endblock %}

{% block content %}
<div class="wisdom_inner">
  
  <p class="wisdom" id="wisdom">text</p> 

</div>
{% endblock %}

{% block bottom-menu__items %}
<li class="bottom-menu__item">
  <button class="control-element active" id="">
    <svg width="30px" height="30px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
        <use href="{% static 'img/icon/icons.svg' %}#icon-garbage-cart"></use>
      </svg>
  </button>
</li>

<li class="bottom-menu__item">
  <button class="control-element active" id="">
    <svg width="40px" height="40px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
        <use href="{% static 'img/icon/icons.svg' %}#icon-edit-pen"></use>
      </svg>
  </button>
</li>
{% endblock %}

