<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" href="../static/img/flag.png">
  <link rel="stylesheet" href="../static/css/normolize.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Flags</title>
</head>

<body>
  <div class="wrapper">
    <main class="main">
      <div class="img-container"></div>
      
      <div class="buttons">
        <span class="score">0/0</span>
        <button class="button" id="btn-1"></button>
        <button class="button" id="btn-2"></button>
        <button class="button" id="btn-3"></button>
        <button class="button" id="btn-4"></button>
      </div>
    </main>
  </div>
  

  <script type="module" src="../static/js/main.js" defer></script>
</body>

</html>