{% extends "base.html" %}
{% load static %}


{% block about-style %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock  %}


{% block content %}
<div class="about__inner">
  <h1 class="about-title">About us</h1>

  <div class="row">
    <div class="image">
      <img src="{{ MEDIA_URL }}images/about-page/about-team.jpg" alt="">
    </div>

    <div class="content">
      <h3>Why choose us?</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis omnis cumque adipisci placeat
        voluptates repellendus culpa, ipsum eos dolorem, itaque repellat, porro sequi magnam ullam distinctio
        cum?
        Dolorum, beatae molestias?</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis omnis cumque adipisci placeat
        voluptates repellendus culpa, ipsum eos dolorem, itaque repellat, porro sequi magnam ullam distinctio
        cum?
        Dolorum, beatae molestias?</p>
    </div>
  </div>
</div>

<div class="service">
  <h1 class="service-title">Our services</h1>

  <div class="service__inner">
    <div class="service__box">
      <img src="{{ MEDIA_URL }}images/about-page/syrup.svg" alt="">
      <h3>Organic food</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad aliquam laborum molestiae voluptatibus vel
        accusantium repudiandae deserunt nihil recusandae facere, at quas tenetur dolorem mollitia hic molestias
        architecto, minus illo.</p>
    </div>

    <div class="service__box">
      <img src="{{ MEDIA_URL }}images/about-page/delivery-fast.svg" alt="">
      <h3>Fast delivery</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad aliquam laborum molestiae voluptatibus vel
        accusantium repudiandae deserunt nihil recusandae facere, at quas tenetur dolorem mollitia hic molestias
        architecto, minus illo.</p>
    </div>

    <div class="service__box">
      <img src="{{ MEDIA_URL }}images/about-page/quality.svg" alt="">
      <h3>High quality</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad aliquam laborum molestiae voluptatibus vel
        accusantium repudiandae deserunt nihil recusandae facere, at quas tenetur dolorem mollitia hic molestias
        architecto, minus illo.</p>
    </div>

    <div class="service__box">
      <img src="{{ MEDIA_URL }}images/about-page/support.svg" alt="">
      <h3>24 x 7 Support</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad aliquam laborum molestiae voluptatibus vel
        accusantium repudiandae deserunt nihil recusandae facere, at quas tenetur dolorem mollitia hic molestias
        architecto, minus illo.</p>
    </div>

    <div class="service__box">
      <img src="{{ MEDIA_URL }}images/about-page/delivery-free.svg" alt="">
      <h3>Free delivery</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad aliquam laborum molestiae voluptatibus vel
        accusantium repudiandae deserunt nihil recusandae facere, at quas tenetur dolorem mollitia hic molestias
        architecto, minus illo.</p>
    </div>

    <div class="service__box">
      <img src="{{ MEDIA_URL }}images/about-page/return.svg" alt="">
      <h3>Personal discount</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad aliquam laborum molestiae voluptatibus vel
        accusantium repudiandae deserunt nihil recusandae facere, at quas tenetur dolorem mollitia hic molestias
        architecto, minus illo.</p>
    </div>
  </div>
</div>
{% endblock  %}