html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f7f7f7;
  font-size: 1.2rem;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  outline: 0;
  outline-offset: 0;
}

/* Header */

.header {
  z-index: 1000;
  background-color: #ffffff;
  position: sticky;
  top: -4em;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo-img {
  max-width: 100%;
  min-width: 100%;
}
.navigation {
  flex-grow: 1;
  font-size: 2.2rem;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.user-nav__list,
.main-nav__list {
  list-style: none;
  display: flex;
}

.main-nav__list {
  flex-wrap: wrap;
  align-content: space-between;
}

.user-nav__wrapper {
  background-color: rgb(55, 55, 55);
}

.user-nav {
  font-size: 2rem;
  color: #fff;
  padding: 0.5em 0;
}

.user-nav__list {
  justify-content: end;
}

.area {
  padding: 0.5em 1em;
}

.main-nav__item--basket {
  display: flex;
  margin-left: auto;
  border-radius: 1.5em;
  border: 1px solid #000;
}

.main-nav__item {
  margin-top: 0.5em;
}

.main-nav__item--active {
  font-weight: 700;
}

.main-nav__link {
  padding: 0.5em 1em;
}

.main-nav__item:hover {
  border-bottom: 2px solid black;
}

.main-nav__link--basket {
  position: relative;
  padding: 0.5em;
}

.main-nav__link--basket svg {
  position: relative;
  top: 0.1em;
}

.user-nav__item:hover svg,
.user-nav__item:focus svg {
  transform: scale(1.3);
}

.user-nav__phone {
  text-decoration: underline;
}

.corrency {
  font-size: 0.5em;
}

.order-btn {
  padding: 0.2em 1em;
  border-radius: 1.5em;
}

.order-btn:hover {
  background-color: tomato;
}

/* Header Dropdown */

.drop-btn {
  cursor: pointer;
  color: inherit;
  border: none;
  background-color: transparent;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover,
.dropdown a:focus {
  background-color: #ddd;
}

.show {
  display: block;
}

/* Hide menu */

.menu-btn {
  width: 2em;
  height: 2em;
  border-radius: .2em;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.3em;
  z-index: 1000;

  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  display: none;
}

.line-one,
.line-two,
.line-three {
  height: 0.3em;
  width: 2em;
  background-color: #5b5b5b;
  box-shadow: 3px 3px 3px rgb(104, 104, 104),;
}

.active .line-one {
  animation: animate-line-one 0.7s forwards;
}
.active .line-two {
  animation: animate-line-two 0.3s forwards;
}
.active .line-three {
  animation: animate-line-three 0.7s forwards;
}

.line-one {
  animation: animate-line-one-rev 0.7s forwards;
}
.line-two {
  animation: animate-line-two-rev 0.7s forwards;
}
.line-three {
  animation: animate-line-three-rev 0.7s forwards;
}

.no-animation {
  animation: none;
}

@keyframes animate-line-one {
  0% {
   transform: rotate(0deg);
  }
  50% {
    transform: translateY(0.7em);
  }
  100% {
    transform: translateY(0.7em) rotate(45deg);
  }
}

@keyframes animate-line-two {
  0% {
   opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scaleX(0);
  }
}

@keyframes animate-line-three {
  0% {
   transform: rotate(0deg);
  }
  50% {
    transform: translateY(-0.7em);
  }
  100% {
    transform: translateY(-0.7em) rotate(135deg);
  }
}

@keyframes animate-line-one-rev {
  100% {
   transform: rotate(0deg);
  }
  50% {
    transform: translateY(0.7em);
  }
  0% {
    transform: translateY(0.7em) rotate(45deg);
  }
}

@keyframes animate-line-two-rev {
  100% {
   opacity: 1;
  }
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
}

@keyframes animate-line-three-rev {
  100% {
   transform: rotate(0deg);
  }
  50% {
    transform: translateY(-0.7em);
  }
  0% {
    transform: translateY(-0.7em) rotate(135deg);
  }
}

/* Footer */

.footer {
  background-color: rgb(55, 55, 55);
}

.social {
  margin: 2em auto;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
}

.social-link:hover svg {
  /* transform: scale(1.3); */
  opacity: 0.6;
}

/* Main */

.sort-radio-group {
  font-size: 14px;
  padding: 10px;
}

.item {
  width: 320px;
  border-radius: 20px;
  overflow: hidden;
}

.item:hover {
  -webkit-box-shadow: 2px 3px 18px 6px rgba(0,0,0,0.56);
  -moz-box-shadow: 2px 3px 18px 6px rgba(0,0,0,0.56);
  box-shadow: 2px 3px 18px 6px rgba(0,0,0,0.56);
}

.item-photo img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  vertical-align: bottom;
}


@media(max-width: 600px) {
  html {
    font-size: 50%;
  }
  .user-nav {
    padding: 0.2em 1em;
  }
  .area {
    padding: 0.2em 0.5em;
  }
}

@media(max-width: 500px) {
 .logo {
  flex-basis: 30%;
 }
 .menu-btn {
  display: flex;
 }

 .main-nav__list {
  display: initial;
  position: absolute;
  top:0; left: 0; right: 0;
  background: #f7f7f7;
  z-index: 500;
  border-left: .5rem solid tomato;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.main-nav__item {
  width: 80%;
} 
.main-nav__item:hover {
  color: tomato;
  border-bottom: none;
} 
.header__inner {
  align-items: flex-end;
}
.main-nav__item--basket {
  margin-bottom: 1em;
}
}

@media(max-width: 420px) {
  html {
    font-size: 40%;
  }
  .user-nav {
    padding: 0.2em 0.5em;
  }
  .main-nav__link--basket svg {
    width: 15px;
    height: 15px;
  }
}