html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f7f7f7;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  outline: 0;
  outline-offset: 0;
}

/* Header */

.header {
  z-index: 1000;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.navigation {
  flex-grow: 1;
}

.user-nav__list,
.main-nav__list {
  list-style: none;
  display: flex;
}

.user-nav__list {
  justify-content: end;
}

.main-nav__item--bascet {
  flex-grow: 1;
  text-align: right;
}