html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  background-image: url(../img/Background-main.jpg);
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  outline: 0;
  outline-offset: 0;
}

/* ---  ---- */

header {
  max-width: 1200px;
  min-height: 120px;
  height: 15vh;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
}

main {
  max-width: 1200px;
  height: 70vh;
  margin: 10px auto ;
  background-color: #f5f5f5;
  border: 3px solid #7400c3;
  outline: 1px solid #fff;
  display: flex;
  box-shadow: 13px 9px 24px 4px rgba(124,15,214,1);
  border-radius: 3px;
}

search {
  background-color: #7400c3;
  width: calc(30% - 8px);
  height: calc(100% - 8px);
  margin: 4px 4px;
  border-radius: 5px;
}

section {
  background-color: #7400c3;
  width: calc(70% - 4px);
  height: calc(100% - 8px);
  margin: 4px 4px;
  border-radius: 5px;
}

footer {
  text-align: center;
}

.contacts {
  display: flex;
  justify-content: center;
  align-content: flex-end;
  gap: 20px;
  padding-top: 10px;
}

.cotacts__item {
  width: 2rem;
  height: 2rem;
  outline: 2px solid #000;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}

.cotacts__item:hover {
  outline-offset: 3px;
  transition: all 0.3s;
}

.cotacts__item svg {
  transition: all 0.3s;
}

.cotacts__item:hover svg {
 transform: scale(1.15);
}

.cotacts__item:hover:nth-child(2) {
  background-color: red;
 }

 .cotacts__item:hover:nth-child(1) {
  background-color: red;
 }

 /* Game cards */

  .game-cards {
    overflow-y: scroll;
    /* scroll-snap-type: y mandatory; */
  } 

 .game-card {
  margin: 10px;
  padding: 5px;
  min-width: calc(100% - 20px);
  border: 4px solid #000;
  border-radius: 2px;
  outline: 2px solid #696969;
  background-color: #f88c5b;

  /* scroll-snap-align: center; */

  display: flex;
  gap: 20px;
 }

 .game-card__column--left {
  flex-basis: 50%;
 }

 .game-card__name {
  text-transform: uppercase;
 }

 .play-btn {
  display: block;
  text-decoration: none;
  margin: 40px 0 20px;
  width: 150px;
  height: 50px;
  border: 3px solid black;
  border-radius: 5px;
  background-color: #ebe8e8;
  color: #000;
  text-align: center;
  line-height: 45px;
 }

 .play-btn:hover {
  box-shadow: 2px 6px 19px 6px rgba(0,0,0,0.75);
 }

 .game-card__tags {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  list-style: none;
 }

 .game-card__tag {
  background-color: #696969;
  border-radius: 50% 10%;
 }

 .break-line {
  margin-bottom: 10px;
 }

 .game-card__name {
  margin-bottom: 15px;
 }

 .game-card__previev {
  border: 2px solid black;
 }